.container{
    width: 1000px;
    height:900px;
    position: relative;
    left: 200px; 
    display: flex;
    align-content: center;
    justify-content: center; 
} 
body{
    margin: 0;
    padding: 0;
}
.innerbody{
    width: 500px;
    height: 600px ;  
    background:#842184; 
    margin-top: 50px;
    border-radius: 25px; 
    position: relative;
    left: -5px;
}

h1{
    text-align: center;
    font-style: italic;
    color: white; 
    margin-bottom: 43px;
    font-size: 50px;
} 
.emailinput{
    outline: none; 
    width: 450px;
    height: 35px; 
    margin-left: 20px; 
    margin-bottom: 43px;
    background: white; 
    color:black ; 
    padding: auto; 
    text-align: center;
} 
::placeholder{
    color: black;
    font-size: 15px;
} 
.submit{
    width: 300px;
    height: 35px;
    outline: none; 
    padding: auto;
    font-size: 25px;
    border-radius: 20px;  
    position: relative;
    left: 89px; 
    margin-top: 20px;
} 
#forgot{
    position: relative;
    top: -35px; 
    left: 21px; 
    font-size: 18px; 
    margin-bottom: 15px;
    
}  
#forgot a:hover{
    color: white; 
    text-decoration: none;
} 
#forgot a{
    color: white;
    font-size: 19px;
} 
span{
    font-size: 20px;
    position: relative;
    top: 5px;
    margin-left: 10px;
    color: #fff;
} 
#member a{
    color: #fff; 
    text-decoration: none;
} 
#member{
    margin-top: 110px;
    font-size: 26px; 
    margin-left: 23px;  
    
    
} 
#member a:hover{
    text-decoration: underline;
}
.btn{
    margin-left: 115px;
    text-align: center; 
    font-size: 26px;
} 

